spring:
  application:
    name: eureka-server
  security:
    user:
      name: ${ADMIN_USERNAME:eurekaadmin}
      password: ${ADMIN_PASSWORD:eurekapass}

server:
  port: 8761

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0
    enable-self-preservation: false
