spring:
  application:
    name: gateway
  cloud:
    gateway:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
  config:
    import: optional:file:./.env
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}
          jwk-set-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST}:8761/eureka/

server:
    port: ${GATEWAY_PORT:8080}